/* Fonts */
@font-face {
  font-family: 'Raleway';
  src: url('./resources/fonts/Raleway.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('./resources/fonts/OpenSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('./resources/fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('./resources/fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Defaults */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'OpenSans', Arial;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  scrollbar-color: grey transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 16px;
  width: 100%;
  height: 100%;
  line-height: 1;
}

body {
  height: 100%;
  width: 100%;
}

main {
  /* Pepper Tablet has set screen dimensions */
  width: 1280px;
  /* Use 736px when the screen is glitched and has part of the screen cut off on the bottom. This is cause when you use alert() in javascript. */
  /* height: 736px; */
  height: 800px;
  position: relative;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#connection-status {
  position: absolute;
  bottom: 0.3rem;
  right: 0.3rem;
  color: grey;
  z-index: 1000;
}

/* reusable styles */
:root {
  --dark-blue-color: #1f2b5d;
}

h1 {
  font-size: 3rem; /* 48px */
  line-height: 3.375rem; /* 54px */
}
h2 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}
h3 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}
h4 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}
h5 {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}
.font-small {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.font-raleway {
  font-family: 'Raleway';
}
.font-reg {
  font-family: 'OpenSans';
}
.font-semibold {
  font-family: 'OpenSans-Semibold';
}
.font-bold {
  font-family: 'OpenSans-Bold';
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-nowrap {
  white-space: nowrap;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-grow {
  flex-grow: 1;
}

/* Start Page */
#start-page {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #1f2b5d;
  position: relative;
  display: flex;
  /* display: none; */
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 3rem 1rem 1rem;
}

.chaser-paw {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20rem;
}

.scc-logo {
  width: 12rem;
  height: 9rem;
}

#start-order-btn {
  border-radius: 1000rem;
  background-color: white;
  color: #1f2b5d;
  width: 9rem;
  height: 9rem;
  margin-top: 1rem;
}
#start-order-btn:active {
  opacity: 0.8;
}

/* Menu Items Page */
#main-menu-page {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #e6e6e6;
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#main-menu-page header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#main-menu-page .cancel-btn {
  border-radius: 400px;
  background-color: #c8161d;
  color: white;
  width: 7.5rem;
}
#main-menu-page .cancel-btn:active {
  background-color: #a71318;
}
#main-menu-page .view-cart-btn {
  border-radius: 400px;
  background-color: #1f2b5d;
  color: white;
  width: 7.5rem;
}
#main-menu-page .view-cart-btn:active {
  background-color: #36488f;
}

#food-categories-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0 1.3rem;
}
.food-categories-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 9rem;
  height: 13rem;
  border-radius: 1rem;
  padding: 1rem 1rem 0.4rem;
  background-color: #ffffff;
  cursor: pointer;
  margin: 0 1rem 1rem 0;
}
.food-categories-card:last-of-type {
  margin-right: 0;
}
.food-categories-card:active {
  opacity: 0.8;
}

.food-categories-card .image {
  height: 5.2rem;
  width: 7.75rem;
  margin-bottom: 0.5rem;
  object-fit: cover;
  border-radius: 5px;
  outline: #ececec 1px solid;
}

.food-categories-card[data-active='true'] {
  background-color: #1f2b5d;
  color: white;
}
.food-categories-card[data-active='true'] .image {
  outline-width: 0px;
}
.food-categories-card[data-active='true'] .arrow-in-circle {
  transition: all 200ms;
  transform: rotate(90deg);
}
.food-categories-card[data-active='true'] .arrow-in-circle path {
  fill: white;
}

#food-items-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.food-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  height: 16rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: white;
  cursor: pointer;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.food-card:last-of-type {
  margin-right: 0;
}
.food-card:active {
  opacity: 0.8;
}
.food-card .image {
  height: 6.5rem;
  width: 9rem;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 0.5rem;
  outline: #ececec 1px solid;
}
.food-card .item-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* Cart Page */
#cart-page {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #e6e6e6;
  /* background-color: #e5e5e5; */
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
}

#cart-page header {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
#cart-page .return-btn {
  border-radius: 10px;
  background-color: white;
  width: 3.7rem;
  height: 3.3rem;
  margin-right: 4.5rem;
}
#cart-page .return-btn img {
  width: 1.2rem;
  height: 1.7rem;
}
#cart-page .clear-cart-btn {
  border-radius: 400px;
  background-color: #c8161d;
  color: white;
  padding: 0.7rem 0;
  width: 8rem;
}

#cart-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 2rem;
}
#cart-items-container {
  display: flex;
  flex-direction: column;
  flex-basis: 55%;
}
.cart-item {
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 10px;
  height: 9.4rem;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}
.cart-item > img {
  height: 6.5rem;
  width: 11.5rem;
  border-radius: 5px;
  object-fit: cover;
  outline: #ececec 1px solid;
}
.cart-item .details {
  margin-left: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  align-content: space-between;
  height: 6.5rem;
}
.cart-item-name {
  width: 25rem;
}
.delete-cart-item-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.delete-cart-item-btn img {
  width: 1.8rem;
  height: 1.8rem;
}

.cart-item .quantity {
  border-radius: 2px;
  border: grey 1px solid;
  display: flex;
  align-items: center;
  height: 2.7rem;
}
.cart-item .plus,
.cart-item .minus {
  height: 100%;
  width: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cart-item .plus:active,
.cart-item .minus:active {
  background-color: #d4d4d4;
}
.cart-item .count {
  padding: 0 1.5rem;
}

.cart-item-price {
  display: flex;
  align-items: center;
  text-align: right;
}

#cart-totals-container {
  position: fixed;
  top: 8.5rem;
  right: 3rem;
  width: 28rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
#cart-totals {
  background-color: white;
  border-radius: 7px;
  padding: 0 0.8rem 1rem;
  height: min-content;
  margin-bottom: 1rem;
}
#cart-totals-container .info {
  display: flex;
  margin-top: 1rem;
}
.separator-line {
  background-color: black;
  width: 100%;
  height: 1px;
  margin-top: 1rem;
}

#cart-confirm-order {
  background-color: #c8161d;
  border-radius: 10px;
  color: white;
  padding: 0.8rem 2rem;
  align-self: center;
}
#cart-confirm-order:active {
  opacity: 0.8;
}

/* Item Page */
#food-item-page {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: linear-gradient(#ddd, #fff);
  position: relative;
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  z-index: 2;
}

#food-item-page header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#food-item-page .return-btn {
  border-radius: 10px;
  background-color: #f7f7f7;
  border: #ebebeb 1px solid;
  width: 3.7rem;
  height: 3.3rem;
  margin-right: 4.5rem;
}
#food-item-page .return-btn img {
  width: 1.2rem;
  height: 1.7rem;
}
#food-item-page .view-cart-btn {
  border-radius: 400px;
  background-color: #1f2b5d;
  color: white;
  width: 7.5rem;
  height: 3.25rem;
}
#food-item-page .view-cart-btn:active {
  background-color: #36488f;
  height: 3.25rem;
}

.bg-semicircle {
  position: absolute;
  top: -68rem;
  width: 120rem;
  height: 100rem;
  border-radius: 100%;
  background-color: white;
  border: #f0f0f0 1px solid;
  z-index: -1;
}

#item-page-calories {
  margin: 1rem 0 1.5rem;
  color: #646464;
}
#item-page-image {
  border-radius: 15px;
  border: #ebebeb 1px solid;
  height: 20rem;
  width: 30rem;
  object-fit: cover;
}

#food-item-page .quantity {
  margin-top: 7rem;
  display: flex;
  width: 15rem;
  justify-content: space-between;
}

#food-item-page .plus,
#food-item-page .minus {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 100px;
  background-color: #f27d82;
}
#food-item-page .plus:active,
#food-item-page .minus:active {
  background-color: #f15860;
}
#food-item-page .count {
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#food-item-page .bottom-page-container {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 2.5rem;
}

#food-item-page .price {
  margin-left: 2rem;
}

.add-to-cart {
  display: flex;
  background-color: #c8161d;
  color: #fff;
  padding: 1rem 2rem 1rem 1.5rem;
  border-radius: 10px 0 0 10px;
  align-items: center;
  cursor: pointer;
}
.add-to-cart:active {
  background-color: #a71318;
}
.add-to-cart img {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
}
